/*
--- Home page ---
*/

body {
    font-family: 'RitaSmith', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

/* --- Header --- */
/* --- Header . Panel Wrapper --- */
div.panel.wrapper {
    background-color: black;
    border-color: black;
    color: #a67950;
}
div.panel.header{
    padding-bottom: 5px;
    padding-top: 5px;
    color: #a67950;
}
ul.header.links.li {
    color: #a67950;
}
a.action.skip.contentarea {
    color: #a67950;
}
ul.header.links>li>a{
    color: #a67950;
}
/* --- Header . Header Content --- */
.logo {
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    max-width: none;
}
.logo img {
    max-height: inherit;
    display: inline-block;
}

/* --- Nav Section --- */
div.sections.nav-sections {
    background-color: black;
}
nav.navigation > ul.ui-menu.ui-widget.ui-widget-content.ui-corner-all > li.level0.nav-1.category-item.first.active.last.level-top.ui-menu-item > a {
    color: white;
    border-color: #a67950;
    font-size: 1.5rem;
}
div#store.menu.section-item-content.nav-sections-item-content {
    background-color: black;
}
div#store.links.section-item-content.nav-sections-item-content {
    color: #a67950;
}
nav.navigation {
    background-color: black;
}
ul#ui-id-2.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
    background-color: black;
}
li.level0.nav-1.category-item.first.last.level-top.ui-menu-item {
    color: #a67950;
}

/* --- Breadcrumbs --- */
.breadcrumbs {
    background-color: black;
    color: #a67950;
}
/*.breadcrumbs.items {*/
/*    font-size: 1.8rem;*/
/*}*/
div.breadcrumbs > ul.items > li {
    color: white;
    /*font-weight: bold;*/
    font-size: 1.6rem;
}
div.breadcrumbs > ul.items > li > a {
    color: white;
    /*font-weight: bold;*/
    font-size: 1.7rem;
}
/* --- Main --- */

/* --- Footer --- */
footer.page-footer {
    background-color: black;
}
ul.footer.links > li.nav.item > a {
    color: #a67950;
}
div.footer.content > small.copyright {
    color: white;
    text-align: center;
}
